<div class="about-container container">
    <div class="about-vegetables">
      <h2 class="about-title">
        To order your vegetable basket, simply follow these easy steps
      </h2>
      <picture>
        <source
          srcset="./img/about/vegetables-mobile.png 1x, ./img/about/vegetables-mobile-2x.png 2x"
          media="(max-width:767.98px)"
          type="image/jpeg"
        />

        <source
          srcset="./img/about/vegetables-tablet.png 1x, ./img/about/vegetables-tablet-2x.png 2x"
          media="(max-width:1279.98px)"
          type="image/jpeg"
        />

        <source
          srcset="./img/about/vegetables-pc.png 1x, ./img/about/vegetables-pc-2x.png 2x"
          media="(min-width:1280px)"
          type="image/jpeg"
        />

        <img src="./img/about/vegetables-mobile.png" alt="vegetable" />
      </picture>
    </div>
    <div class="about-vegetables-text">
        <p class="about-text">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
        <p class="about-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
    </div>
  </div>
