<section class="catalog section" id="vegetables">
	<div class="container catalog-container">
		<h2 class="catalog-title">oRGANIC vegetables</h2>
		<p class="catalog-subtitle">Our organic vegetables are hand-picked from local farms and delivered straight
			to your doorstep, ensuring that you get
			the freshest and most nutritious produce possible.</p>
		<ul class="catalog-list">
			<li class="catalog-item">
				<div class="front">
					<div class="contents">
						<p class="catalog-item-name">Carrot </p>
						<p class="catalog-item-type">Plant</p>
						<picture>
							<source media="(max-width:767px)"
								srcset="./img/catalog/mobile/carrot-mb.png 1x, ./img/catalog/mobile/carrot-mb@2.png 2x"
								type="image/png">
							<source media="(min-width:768px)"
								srcset="./img/catalog/tablet/carrot-tb.png 1x, ./img/catalog/tablet/carrot-tb@2.png 2x"
								type="image/png" width="321" height="261">
							<img class="catalog-item-img" src="./img/catalog/mobile/carrot-mb.png" width="299" height="249"
								alt="carrot">
						</picture>
						<p class="catalog-item-price">100 UAH / kg</p>
					</div>
				</div>
				<div class="back">
					<div class="contents">
						<p class="back-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe autem
							doloribus rerum quae
							asperiores quaerat sapiente. Unde animi reprehenderit alias, inventore, porro eligendi odit
							commodi, quae ratione ex eos accusamus!</p>
						<p class="back-text-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas quos
							rerum voluptatem aut
							dolore accusamus animi explicabo optio fuga, eum sit sed expedita? Nihil laboriosam voluptate
							optio modi soluta nemo?</p>
					</div>
				</div>
			</li>
			<li class="catalog-item">
				<div class="front">
					<div class="contents">
						<p class="catalog-item-name">Brussel sprouts</p>
						<p class="catalog-item-type">Plant</p>
						<picture>
							<source media="(max-width:767px)"
								srcset="./img/catalog/mobile/brussel-mb.png 1x, ./img/catalog/mobile/brussel-mb@2.png 2x"
								type="image/png">
							<source media="(min-width:768px)"
								srcset="./img/catalog/tablet/sprouts-tb.png 1x, ./img/catalog/tablet/sprouts-tb@2.png 2x"
								type="image/png" width="321" height="261">
							<img class="catalog-item-img" src="./img/catalog/mobile/brussel-mb.png" width="299" height="249"
								alt="brussel sprouts">
						</picture>
						<p class="catalog-item-price">80 UAH / kg</p>
					</div>
				</div>
				<div class="back">
					<div class="contents">
						<p class="back-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe autem
							doloribus rerum quae
							asperiores quaerat sapiente. Unde animi reprehenderit alias, inventore, porro eligendi odit
							commodi, quae ratione ex eos accusamus!</p>
						<p class="back-text-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas quos
							rerum voluptatem aut
							dolore accusamus animi explicabo optio fuga, eum sit sed expedita? Nihil laboriosam voluptate
							optio modi soluta nemo?</p>
					</div>
				</div>
			</li>
			<li class="catalog-item">
				<div class="front">
					<div class="contents">
						<p class="catalog-item-name">Tomato </p>
						<p class="catalog-item-type">Plant</p>
						<picture>
							<source media="(max-width:767px)"
								srcset="./img/catalog/mobile/tomato-mb.png 1x, ./img/catalog/mobile/tomato-mb@2.png 2x"
								type="image/png">
							<source media="(min-width:768px)"
								srcset="./img/catalog/tablet/tomato-tb.png 1x, ./img/catalog/tablet/tomato-tb@2.png 2x"
								type="image/png" width="321" height="261">
							<img class="catalog-item-img" src="./img/catalog/mobile/tomato-mb.png" width="299" height="249"
								alt="Tomato">
						</picture>
						<p class="catalog-item-price">40 UAH / kg</p>
					</div>
				</div>
				<div class="back">
					<div class="contents">
						<p class="back-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe autem
							doloribus rerum quae
							asperiores quaerat sapiente. Unde animi reprehenderit alias, inventore, porro eligendi odit
							commodi, quae ratione ex eos accusamus!</p>
						<p class="back-text-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas quos
							rerum voluptatem aut
							dolore accusamus animi explicabo optio fuga, eum sit sed expedita? Nihil laboriosam voluptate
							optio modi soluta nemo?</p>
					</div>
				</div>
			</li>
			<li class="catalog-item">
				<div class="front">
					<div class="contents">
						<p class="catalog-item-name">Eggplant</p>
						<p class="catalog-item-type">Plant</p>
						<picture>
							<source media="(max-width:767px)"
								srcset="./img/catalog/mobile/eggplant-mb.png 1x, ./img/catalog/mobile/eggplant-mb@2.png 2x"
								type="image/png">
							<source media="(min-width:768px)"
								srcset="./img/catalog/tablet/eggplant-tb.png 1x, ./img/catalog/tablet/eggplant-tb@2.png 2x"
								type="image/png" width="321" height="261">
							<img class="catalog-item-img" src="./img/catalog/mobile/eggplant-mb.png" width="299" height="249"
								alt="Eggplant">
						</picture>
						<p class="catalog-item-price">60 UAH / kg</p>
					</div>
				</div>
				<div class="back">
					<div class="contents">
						<p class="back-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe autem
							doloribus rerum quae
							asperiores quaerat sapiente. Unde animi reprehenderit alias, inventore, porro eligendi odit
							commodi, quae ratione ex eos accusamus!</p>
						<p class="back-text-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas quos
							rerum voluptatem aut
							dolore accusamus animi explicabo optio fuga, eum sit sed expedita? Nihil laboriosam voluptate
							optio modi soluta nemo?</p>
					</div>
				</div>
			</li>
			<li class="catalog-item">
				<div class="front">
					<div class="contents">
						<p class="catalog-item-name">Sweet potatoes</p>
						<p class="catalog-item-type">Plant</p>
						<picture>
							<source media="(max-width:767px)"
								srcset="./img/catalog/mobile/potatoes-mb.png 1x, ./img/catalog/mobile/potatoes-mb@2.png 2x"
								type="image/png">
							<source media="(min-width:768px)"
								srcset="./img/catalog/tablet/potatoes-tb.png 1x, ./img/catalog/tablet/potatoes-tb@2.png 2x"
								type="image/png" width="321" height="261">
							<img class="catalog-item-img" src="./img/catalog/mobile/potatoes-mb.png" width="299" height="249"
								alt="potatoes">
						</picture>
						<p class="catalog-item-price">80 UAH / kg</p>
					</div>
				</div>
				<div class="back">
					<div class="contents">
						<p class="back-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe autem
							doloribus rerum quae
							asperiores quaerat sapiente. Unde animi reprehenderit alias, inventore, porro eligendi odit
							commodi, quae ratione ex eos accusamus!</p>
						<p class="back-text-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas quos
							rerum voluptatem aut
							dolore accusamus animi explicabo optio fuga, eum sit sed expedita? Nihil laboriosam voluptate
							optio modi soluta nemo?</p>
					</div>
				</div>
			</li>
			<li class="catalog-item">
				<div class="front">
					<div class="contents">
						<p class="catalog-item-name">Leek</p>
						<p class="catalog-item-type">Plant</p>
						<picture>
							<source media="(max-width:767px)"
								srcset="./img/catalog/mobile/leek-mb.png 1x, ./img/catalog/mobile/leek-mb@2.png 2x"
								type="image/png">
							<source media="(min-width:768px)"
								srcset="./img/catalog/tablet/leek-tb.png 1x, ./img/catalog/tablet/leek-tb@2.png 2x"
								type="image/png" width="321" height="261">
							<img class="catalog-item-img" src="./img/catalog/mobile/leek-mb.png" width="299" height="249"
								alt="leek">
						</picture>
						<p class="catalog-item-price">50 UAH / kg</p>
					</div>
				</div>
				<div class="back">
					<div class="contents">
						<p class="back-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe autem
							doloribus rerum quae
							asperiores quaerat sapiente. Unde animi reprehenderit alias, inventore, porro eligendi odit
							commodi, quae ratione ex eos accusamus!</p>
						<p class="back-text-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas quos
							rerum voluptatem aut
							dolore accusamus animi explicabo optio fuga, eum sit sed expedita? Nihil laboriosam voluptate
							optio modi soluta nemo?</p>
					</div>
				</div>
			</li>
			<li class="catalog-item">
				<div class="front">
					<div class="contents">
						<p class="catalog-item-name">Mushrooms</p>
						<p class="catalog-item-type">Plant</p>
						<picture>
							<source media="(max-width:767px)"
								srcset="./img/catalog/mobile/mushrooms-mb.png 1x, ./img/catalog/mobile/mushrooms-mb@2.png 2x"
								type="image/png">
							<source media="(min-width:768px)"
								srcset="./img/catalog/tablet/mushrooms-tb.png 1x, ./img/catalog/tablet/mushrooms-tb@2.png 2x"
								type="image/png" width="321" height="261">
							<img class="catalog-item-img" src="./img/catalog/mobile/mushrooms-mb.png" width="299" height="249"
								alt="mushrooms">
						</picture>
						<p class="catalog-item-price">40 UAH / kg</p>
					</div>
				</div>
				<div class="back">
					<div class="contents">
						<p class="back-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe autem
							doloribus rerum quae
							asperiores quaerat sapiente. Unde animi reprehenderit alias, inventore, porro eligendi odit
							commodi, quae ratione ex eos accusamus!</p>
						<p class="back-text-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas quos
							rerum voluptatem aut
							dolore accusamus animi explicabo optio fuga, eum sit sed expedita? Nihil laboriosam voluptate
							optio modi soluta nemo?</p>
					</div>
				</div>
			</li>
			<li class="catalog-item">
				<div class="front">
					<div class="contents">
						<p class="catalog-item-name">Corn</p>
						<p class="catalog-item-type">Plant</p>
						<picture>
							<source media="(max-width:767px)"
								srcset="./img/catalog/mobile/corn-mb.png 1x, ./img/catalog/mobile/corn-mb@2.png 2x"
								type="image/png">
							<source media="(min-width:768px)"
								srcset="./img/catalog/tablet/corn-tb.png 1x, ./img/catalog/tablet/corn-tb@2.png 2x"
								type="image/png" width="321" height="261">
							<img class="catalog-item-img" src="./img/catalog/mobile/corn-mb.png" width="299" height="249"
								alt="corn">
						</picture>
						<p class="catalog-item-price">60 UAH / kg</p>
					</div>
				</div>
				<div class="back">
					<div class="contents">
						<p class="back-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe autem
							doloribus rerum quae
							asperiores quaerat sapiente. Unde animi reprehenderit alias, inventore, porro eligendi odit
							commodi, quae ratione ex eos accusamus!</p>
						<p class="back-text-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas quos
							rerum voluptatem aut
							dolore accusamus animi explicabo optio fuga, eum sit sed expedita? Nihil laboriosam voluptate
							optio modi soluta nemo?</p>
					</div>
				</div>
			</li>
			<li class="catalog-item none">
				<div class="front">
					<div class="contents">
						<p class="catalog-item-name">Radish</p>
						<p class="catalog-item-type">Plant</p>
						<picture>
							<source media="(min-width:1280px)"
								srcset="./img/catalog/radish-pc.png 1x, ./img/catalog/radish-pc@2.png 2x" type="image/png"
								width="321" height="261">
							<img class="catalog-item-img" src="./img/catalog/radish-pc.png" alt="corn">
						</picture>
						<p class="catalog-item-price">90 UAH / kg</p>
					</div>
				</div>
				<div class="back">
					<div class="contents">
						<p class="back-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe autem
							doloribus rerum quae
							asperiores quaerat sapiente. Unde animi reprehenderit alias, inventore, porro eligendi odit
							commodi, quae ratione ex eos accusamus!</p>
						<p class="back-text-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas quos
							rerum voluptatem aut
							dolore accusamus animi explicabo optio fuga, eum sit sed expedita? Nihil laboriosam voluptate
							optio modi soluta nemo?</p>
					</div>
				</div>
			</li>
		</ul>
		<div class="catalog-btn-box">
			<button class="catalog-btn" data-modal-open type="button">
				<svg class="catalog-btn-svg" width="14" height="14">
					<use href="./img/veggie-icons.svg#icon-arrow"></use>
				</svg>
				Order
			</button>
		</div>
	</div>
</section>