<header class="header">
  <div class="container mobile-container">
    <div class="header-wrapper">
      <nav class="nav">
        <ul class="header-list">
          <li class="header-item">
            <a class="header-link link" href="#how-it-works">How It Works</a>
          </li>
          <li class="header-item">
            <a class="header-link link" href="#vegetables">Vegetables</a>
          </li>
          <li class="header-item">
            <a class="header-link link" href="#contacts">Contacts</a>
          </li>
        </ul>
        <a class="headerlogo-link link" href="./index.html">
          <svg class="headerlogo-icon" width="16" height="16">
            <use href="../img/veggie-icons.svg#icon-vector"></use>
          </svg>
          <span class="headerlogo-text">veggieboost</span>
        </a>
      </nav>
      <button class="header-button" data-modal-open type="button">
        <svg class="headerbutton-icon" width="24" height="24">
          <use href="../img/veggie-icons.svg#icon-shopping-cart"></use>
        </svg>
      </button>
    </div>

    <button class="menu-toggle js-open-menu" aria-controls="mobile-menu" aria-expanded="false">
      <svg class="menu-toggleicon" width="24" height="24">
        <use href="../img/veggie-icons.svg#icon-open-mobile-menu"></use>
      </svg>
    </button>
  </div>
</header>
<!-- -------------- mobile-menu--------------->
<div class="mobile-menu js-menu-container" id="mobile-menu">
  <header class="header">
    <div class="container mobile-container">
      <nav class="nav">
        <a class="headerlogo-link link" href="./index.html">
          <svg class="headerlogo-icon" width="16" height="16">
            <use href="../img/veggie-icons.svg#icon-vector"></use>
          </svg>
          <span class="headerlogo-text">veggieboost</span>
        </a>
      </nav>
      <button class="menu-toggle js-close-menu">
        <svg class="mobile-iconclose" width="24" height="24">
          <use href="../img/veggie-icons.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>
  </header>
  <div class="mobile-wrapper">
    <div class="container mobile-container">
      <nav class="nav">
        <ul class="header-list">
          <li class="header-item">
            <a class="header-link link" href>How It Works</a>
          </li>
          <li class="header-item">
            <a class="header-link link" href>Vegetables</a>
          </li>
          <li class="header-item">
            <a class="header-link link" href>Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="header-button" data-modal-open type="button">
        <svg class="headerbutton-icon" width="20" height="20">
          <use href="../img/veggie-icons.svg#icon-shopping-cart"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
