<section class="hero">
  <div class="hero-container container">
    <div class="hero-primary-container">
      <div class="hero-primary-info">
        <ul class="hero-reviews-list">
          <li class="hero-reviews-item">
            <picture>
              <source
                srcset="
                  ./img/hero/mobile-reviewer-1.png    1x,
                  ./img/hero/mobile-reviewer-1-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/hero/tablet-reviewer-1.png    1x,
                  ./img/hero/tablet-reviewer-1-2x.png 2x
                "
                media="(max-width: 1279px)"
              />
              <source
                srcset="
                  ./img/hero/desktop-reviewer-1.png    1x,
                  ./img/hero/desktop-reviewer-1-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./img/hero/mobile-reviewer-1.png"
                alt="first reviewer"
                width=""
                height=""
              />
            </picture>
          </li>
          <li class="hero-reviews-item">
            <picture>
              <source
                srcset="
                  ./img/hero/mobile-reviewer-2.png    1x,
                  ./img/hero/mobile-reviewer-2-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/hero/tablet-reviewer-2.png    1x,
                  ./img/hero/tablet-reviewer-2-2x.png 2x
                "
                media="(max-width: 1279px)"
              />
              <source
                srcset="
                  ./img/hero/desktop-reviewer-2.png    1x,
                  ./img/hero/desktop-reviewer-2-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./img/hero/mobile-reviewer-2.png"
                alt="third reviewer"
                width=""
                height=""
              />
            </picture>
          </li>
          <li class="hero-reviews-item">
            <picture>
              <source
                srcset="
                  ./img/hero/mobile-reviewer-3.png    1x,
                  ./img/hero/mobile-reviewer-3-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/hero/tablet-reviewer-3.png    1x,
                  ./img/hero/tablet-reviewer-3-2x.png 2x
                "
                media="(max-width: 1279px)"
              />
              <source
                srcset="
                  ./img/hero/desktop-reviewer-3.png    1x,
                  ./img/hero/desktop-reviewer-3-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./img/hero/mobile-reviewer-3.png"
                alt="third reviewer"
                width=""
                height=""
              />
            </picture>
          </li>
          <li class="hero-reviews-item">
            <p class="hero-reviews-main-text">2k</p>
            <p class="hero-reviews-sub-text">reviews</p>
          </li>
        </ul>
        <h1 class="hero-title">
          organic <span>vegetables</span> to your diet today!
        </h1>
        <p class="hero-text">
          Our expertly curated vegetable baskets are made with the freshest,
          highest quality vegetables available. Fresh Harvest Box has got you
          covered. Fresh, high-quality vegetables in expertly curated vegetable
          baskets delivered to you.
        </p>
        <button type="button" class="hero-shop-btn" data-modal-open3>
          shop now
        </button>
      </div>
      <div class="hero-container-img">
        <picture class="hero-inner-img">
          <source
            srcset="
              ./img/hero/mobile-hero-main.png    1x,
              ./img/hero/mobile-hero-main-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/hero/tablet-hero-main.png    1x,
              ./img/hero/tablet-hero-main-2x.png 2x
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./img/hero/desktop-hero-main.png    1x,
              ./img/hero/desktop-hero-main-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./img/hero/mobile-hero-main.png"
            alt="woman with greenery"
            width=""
            height=""
          />
        </picture>
      </div>
    </div>
    <ul class="hero-tags-list">
      <li class="hero-tags-item">
        <button type="button" class="hero-tags-btn">#organic</button>
      </li>
      <li class="hero-tags-item">
        <button type="button" class="hero-tags-btn">#products</button>
      </li>
      <li class="hero-tags-item">
        <button type="button" class="hero-tags-btn">#basket</button>
      </li>
      <li class="hero-tags-item">
        <button type="button" class="hero-tags-btn">#vegetables</button>
      </li>
    </ul>
  </div>
</section>
