<div class="manual-container container">
<div class="bg-wrap">
  <div class="manual-wrap">
    <h3 class="manual-subtitle">3 Easy Steps for Buying Fresh Vegetables</h3>
  <ol class="manual-list">
    <li class="manual-item">
      <p class="manual-text">
        Just choose the vegetable you want to order by clicking on the
        checkboxes next to it.
      </p>
    </li>
    <li class="manual-item">
      <p class="manual-text second">Click on the basket and fill out the form.</p>
    </li>
    <li class="manual-item">
      <p class="manual-text">
        Sit back and relax! Your fresh vegetables basket will be delivered.
      </p>
</div>

      <picture class="manual-image">
        <source
          srcset="
            ./img/manual/manual-girl-1.png    1x,
            ./img/manual/manual-girl-1@2x.png 2x
          "
          media="(max-width: 767.98px)"
        />
        <source
          srcset="
            ./img/manual/manual-girl-2.png    1x,
            ./img/manual/manual-girl-2@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/manual/manual-girl-3.png    1x,
            ./img/manual/manual-girl-3@2x.png 2x
          "
          media="(min-width: 1158px)"
        />
        <img
          src="./img/manual/manual-girl-1.png"
          alt="Girl with Vegetables"
          width=""
          height=""
        />
      </picture>
    </li>
  </ol>
</div>
</div>
