<!-- ------------------MODAL--------------- -->

<!-- додати/прибрати is-hidden після backdrop  -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal-box">
    <p class="modal-title">Your Order</p>
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./img/veggie-icons.svg#icon-x-close"></use>
      </svg>
    </button>

    <!-- CARDS  CARDS  CARDS -->

    <ul class="modal-cards list">
      <li class="modal-card-item">
        <label class="check-label" for="cabbage">
          <!-- checkbox -->
          <div class="modal-check">
            <input
              type="checkbox"
              class="check-input visually-hidden"
              name="cabbage"
              id="cabbage"
              value="true"
            />

            <span class="check-span">
              <svg class="check-icon" width="8" height="8">
                <use href="./img/veggie-icons.svg#icon-pick"></use>
              </svg>
            </span>
          </div>

          <!-- кінець чекбокса -->

          <p class="modal-subtitle">Cabbage Basket</p>
          <p class="text">Plant</p>
          <div class="mod-tumb">
            <picture class="picture">
              <source
                srcset="
                  ./img/modal/mod-desk-cabbage.png    1x,
                  ./img/modal/mod-desk-cabbage@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/modal/mod-tab-cabbage.png    1x,
                  ./img/modal/mod-tab-cabbage@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/modal/mod-mob-cabbage.png    1x,
                  ./img/modal/mod-mob-cabbage@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="modal-img"
                src="./img/modal/mod-desk-cabbage.png"
                alt="cabbage heads in a basket"
                width="257"
                height="308"
              />
            </picture>
          </div>
        </label>
      </li>
      <li class="modal-card-item">
        <label class="check-label" for="tomato">
          <div class="checkbox-field modal-check">
            <input
              type="checkbox"
              class="check-input visually-hidden"
              name="tomato"
              id="tomato"
              value="true"
            />

            <span class="check-span">
              <svg class="check-icon" width="8" height="8">
                <use href="./img/veggie-icons.svg#icon-pick"></use>
              </svg>
            </span>
          </div>
          <p class="modal-subtitle">Tomato Basket</p>
          <p class="text">Plant</p>
          <div class="mod-tumb">
            <picture class="picture">
              <source
                srcset="
                  ./img/modal/mod-desk-tomato.png    1x,
                  ./img/modal/mod-desk-tomato@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/modal/mod-tab-tomato.png    1x,
                  ./img/modal/mod-tab-tomato@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/modal/mod-mob-tomato.png    1x,
                  ./img/modal/mod-mob-tomato@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="modal-img"
                src="./img/modal/mod-desk-tomato.png"
                alt="large tomatoes on twigs in a basket"
                width="94"
                height="78"
              />
            </picture>
          </div>
        </label>
      </li>
      <li class="modal-card-item">
        <label class="check-label" for="veg-mix">
          <div class="checkbox-field modal-check">
            <input
              type="checkbox"
              class="check-input visually-hidden"
              name="veg-mix"
              id="veg-mix"
              value="true"
            />

            <span class="check-span">
              <svg class="check-icon" width="8" height="8">
                <use href="./img/veggie-icons.svg#icon-pick"></use>
              </svg>
            </span>
          </div>
          <p class="modal-subtitle">Vegetables Basket</p>
          <p class="text">Plant</p>

          <div class="mod-tumb">
            <picture class="picture">
              <source
                srcset="
                  ./img/modal/mod-desk-vegetables.png    1x,
                  ./img/modal/mod-desk-vegetables@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/modal/mod-tab-vegetables.png    1x,
                  ./img/modal/mod-tab-vegetables@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/modal/mod-mob-vegetables.png    1x,
                  ./img/modal/mod-mob-vegetables@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="modal-img"
                src="./img/modal/mod-desk-vegetables.png"
                alt="assorted green vegetables in a basket"
                width="94"
                height="78"
              />
            </picture>
          </div>
        </label>
      </li>
    </ul>

    <!-- FORM FORM FORM -->

    <div class="modal-form-box">
      <form class="modal-form">
        <input
          type="text"
          class="modal-input"
          name="user-name"
          id="user-name"
          placeholder="Enter full name..."
          required
          pattern="[\p{L} \-]+"
        />
        <input
          type="email"
          class="modal-input"
          name="user-email"
          id="user-email"
          placeholder="Enter email..."
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
        <input
          type="text"
          class="modal-input"
          name="card-number"
          id="bank-card-input"
          placeholder="Enter card.."
          maxlength="19"
          required
          autocomplete="off"
          pattern="[\d ]{10,30}"
        />

        <textarea
          class="modal-input textarea"
          id="user-comment"
          name="user-comment"
          placeholder="Enter comments..."
        ></textarea>
        <button class="modal-btn-send" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
