.about-container.container {
  margin-bottom: 80px;
}

.about-title {
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
  text-transform: uppercase;
}

.about-vegetables {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-vegetables-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-text {
  text-shadow: 0px 4px 70px  rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
}

/* Media */

@media screen and (min-width: 768px) {
  .about-container.container {
    padding-bottom: 100px;
  }


  .about-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -1.6px;
    text-transform: uppercase;
    max-width: 386px;
  }
  .about-vegetables {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .about-vegetables-text {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 687px;
  }

  .about-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }
  .about-text:first-child {
    max-width: 317px;
  }
}

@media screen and (min-width: 1280px) {
.about-container.container {
  margin-bottom: 124px;
}

  .about-vegetables {
    display: flex;
    justify-content: space-between;
  }

  .about-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.04;
    letter-spacing: -1.92px;
    text-transform: uppercase;
    max-width: 700px;
  }
}
