.about-title {
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
  text-transform: uppercase;
}

.about-vegetables {
  /* margin-top: 20px; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* .about-list {
} */
.about-item {
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
}

.about-item:not(:last-child) {
  margin-bottom: 20px;
}

/* Media */

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .about-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -1.6px;
    text-transform: uppercase;
    max-width: 386px;
  }
  .about-vegetables {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .about-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 616px;
  }

  .about-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }
}

@media screen and (min-width: 1280px) {
}
