.catalog-container {
	position: relative;
}
.catalog-title {
	margin-bottom: 14px;
	text-align: center;
	text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
	font-size: 24px;
	font-weight: 500;
	line-height: 1.16;
	letter-spacing: -0.96px;
	text-transform: uppercase;
}
.catalog-subtitle {
	margin: 0 auto;
	margin-bottom: 40px;
	font-weight: 400;
	text-align: center;
	text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
	font-size: 14px;
	line-height: 1.28;
}
.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 20px;
}
.catalog-item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 443px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 800px;
	perspective: 800px;
	cursor: context-menu;
	border-radius: 30px;
	width: 335px;
	margin: 0 auto;
	background-color: #eaf7e5;
}
.catalog-item-name {
	margin-top: 40px;
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.16;
	letter-spacing: -0.96px;
}
.catalog-item-type {
	margin-bottom: 40px;
	line-height: 1.28;
	letter-spacing: -0.28px;
}
.catalog-item-img {
	margin: 0 auto;
	height: 249px;
}
.catalog-item-price {
	margin-top: 22px;
	line-height: 1.28;
	letter-spacing: -0.28px;
}
.catalog-btn-box {
	margin-top: 20px;
}
.catalog-btn {
	display: block;
	color: #fff;
	font-size: 14px;
	text-align: center;
	text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
	font-weight: 500;
	line-height: 1.28;
	text-transform: uppercase;
	margin: 0 auto;
	padding: unset;
	border: unset;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #fc8a11;
	-webkit-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg);
	transition: background-color var(--transition);
}
.catalog-btn:hover {
	background-color: #a1c487;
}
.catalog-btn-svg {
	fill: #fff;
}
.catalog-btn-text {
}
.catalog-item .front,
.catalog-item .back {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 20px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 0.8s ease-in-out;
	transition: -webkit-transform 0.8s ease-in-out;
	-o-transition: transform 0.8s ease-in-out;
	transition: transform 0.8s ease-in-out;
	transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

.catalog-item .back {
	background-color: var(--white-main);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.catalog-item:hover .front {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.catalog-item:hover .back {
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
}

.catalog-item .contents {
	width: 100%;
	height: 100%;
	color: var(--white-main);
	-webkit-transform: translateZ(100px) scale(0.86);
	transform: translateZ(100px) scale(0.86);
	overflow: hidden;
}

.back-text {
	padding: 100px 20px 0 0;
	margin-bottom: 30px;
}

.back-text-2 {
	padding-right: 20px;
}

.none {
	display: none;
}
@media (min-width: 375px) {
	.catalog-subtitle {
		max-width: 335px;
	}
}
@media (min-width: 768px) {
	.catalog-title {
		font-size: 28px;
	}
	.catalog-subtitle {
		font-size: 18px;
		max-width: 562px;
	}
	.catalog-list {
		margin: 0 auto;
	}
	.catalog-item {
		width: 342px;
		height: 465px;
	}
	.catalog-btn-box {
		margin-top: 40px;
	}
}
@media (min-width: 1280px) {
	.none {
		display: block;
	}
	.catalog-title {
		font-size: 40px;
	}

	.catalog-list {
		gap: 24px;
	}
	.catalog-item {
		margin: unset;
		width: 389px;
	}
}
