.footer {
  background-color: var(--light-green-color);
  padding: 80px 0;
}
.footer_cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.footer_wrap_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_img {
  margin-bottom: 20px;
}

.footer_logo_link {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56px;
  transition: fill var(--transition);
}

.footer_logo_link:hover,
.footer_logo_link:focus {
  fill: var(--dark-green-color);
}
.footer_logo_link:hover .footer_logo_svg,
.footer_logo_link:focus .footer_logo_svg {
  transform: rotate(90deg);
}

.footer_logo_svg {
  margin-right: 8px;
  transition: fill var(--transition);
  transition: transform var(--transition);
}
.footer_nav_cnt {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.footer_nav_list {
  display: flex;
  gap: 20px;
  line-height: 18px;
  letter-spacing: -0.56px;
}
.footer_nav_item:hover,
.footer_nav_item:focus {
  animation: swing 0.5s ease;
  animation-iteration-count: 1;
}
.footer_nav_link:hover,
.footer_nav_link:focus {
  filter: drop-shadow(0 0 3px var(--dark-green-color))
    drop-shadow(0 0 5px var(--logo-color));
}

.footer_nav_link {
  transition: filter var(--transition);
}
.footer_soc_cnt {
  margin-bottom: 40px;
}
.footer_soc_list {
  display: flex;
  gap: 20px;
}
/* ========================================================= */
.footer_soc_link:hover,
.footer_soc_link:focus {
  border-color: var(--dark-green-color);
  transform: translate(-3px, -3px);
  box-shadow: 0px 2px 5px 0px rgb(49, 81, 65);
}
.footer_soc_link:hover .footer_soc_icon,
.footer_soc_link:focus .footer_soc_icon {
  fill: var(--dark-green-color);
}
.footer_soc_link:active {
  border: 1px solid #141414;
  transform: translate(0px, 0px);
  box-shadow: unset;
}
.footer_soc_link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #141414;
  width: 44px;
  height: 44px;
  padding: 0;
  transition: all var(--transition);
}
.footer_soc_icon {
  fill: currentColor;
  transition: fill var(--transition);
}
.footer_address_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 135px;
  align-items: center;
}
.footer_address_item {
  line-height: 18px;
  letter-spacing: -0.28px;
  max-width: 138px;
  text-align: center;
  font-style: normal;
}
.footer_address_link {
  transition: filter var(--transition);
}
.footer_address_link:hover,
.footer_address_link:focus {
  filter: drop-shadow(0 0 3px var(--dark-green-color))
    drop-shadow(0 0 5px var(--logo-color));
}

@media screen and (min-width: 768px) {
  .footer_cnt {
    flex-direction: row;
    gap: 171px;
    align-items: unset;
  }
  .footer_img {
    min-width: 349px;
    height: 179px;
  }
  .footer_wrap_logo_nav {
    display: flex;
    flex-direction: column;
  }
  .footer_soc_cnt {
    margin-bottom: 43px;
  }
  .footer_nav_cnt {
    margin-bottom: 0;
  }
  .footer_address_list {
    align-items: start;
    font-size: 18px;
  }
  .footer_address_item {
    text-align: start;
    max-width: 184px;
    line-height: 24px;
    letter-spacing: -0.36px;
  }
}
@media screen and (min-width: 1280px) {
  .footer_cnt {
    gap: 166px;
  }
  .footer_wrap_logo_nav {
    display: flex;
    flex-direction: row;
    gap: 166px;
  }
  .footer_logo_link {
    margin: 0;
  }
  .footer_nav_list {
    align-items: center;
  }
}
