.header {
  height: 50px;
  background-color: var(--white-color);
}
.mobile-container,
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  gap: 86px;
}
.header-list {
  display: flex;
  gap: 14px;
  align-items: center;
}
.header-link {
  font-size: 14px;
  line-height: 1.28;
  transition: filter 250ms linear;
  filter: none;
}
.header-link:hover,
.header-link:focus {
  filter: drop-shadow(0 0 3px var(--dark-green-color))
    drop-shadow(0 0 5px var(--logo-color));
}
@keyframes swing {
  25% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  50% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  75% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.header-item:hover,
.header-item:focus {
  animation: swing 0.5s ease;
  animation-iteration-count: 1;
}
.headerlogo-link {
  padding: 16px 0;
  display: flex;
  gap: 8px;
  text-transform: uppercase;
  line-height: 1.28;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}
.headerlogo-icon {
  fill: var(--logo-color);
  transition: transform 250ms linear;
  rotate: 0;
}
.headerlogo-link:hover .headerlogo-icon {
  transform: rotate(90deg);
}
.headerlogo-text {
  position: relative;
}
.headerlogo-text::before {
  content: attr(content);
  position: absolute;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid var(--white-color);
  color: var(--logo-color);
  animation: move 15s linear infinite;
}
@keyframes move {
  0% {
    width: 0%;
    color: var(--logo-color);
  }
  20% {
    width: 101%;
    color: var(--logo-color);
  }
  100% {
    width: 101%;
    color: var(--text-color);
  }
}
.header-button {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 20px;
  filter: none;
  transition: transform 250ms linear;
}
.header-button:hover,
.header-button:focus {
  transform: scale(1.2);
}
.headerbutton-icon {
  stroke: var(--text-color);
  fill: transparent;
  height: 20px;
  width: 20px;
}
.headerbutton-icon:hover,
.headerbutton-icon:focus {
  stroke: var(--logo-color);
}
.menu-toggle.js-open-menu,
.menu-toggle.js-close-menu {
  fill: var(--logo-color);
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  transition: transform 250ms linear, fill 250ms linear;
}
.menu-toggle.js-open-menu:hover,
.menu-toggle.js-open-menu:focus {
  transform: scale(1.2);
  fill: var(--dark-green-color);
}
.menu-toggle.js-close-menu {
  stroke: var(--logo-color);
  transition: transform 250ms linear, stroke 250ms linear;
}
.menu-toggle.js-close-menu:hover,
.menu-toggle.js-close-menu:focus {
  stroke: var(--dark-green-color);
  transform: scale(1.2);
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-green-color);
  transition: transform 250ms linear;
  transform: translateX(100%);
  align-items: center;
  z-index: 500;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-wrapper .mobile-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 124px;
}
.mobile-wrapper .header-list {
  flex-direction: column;
  gap: 16px;
}
.mobile-wrapper .headerbutton-icon {
  stroke: var(--white-color);
}
.mobile-wrapper .header-link {
  color: var(--white-color);
}
@media screen and (max-width: 767px) {
  .header .header-list,
  .header .header-button {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-toggle.js-open-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .headerlogo-link {
    margin-right: 251px;
  }
}
@media screen and (min-width: 1280px) {
  .header .header-list {
    gap: 20px;
  }
  .nav {
    gap: 308px;
  }
  .headerlogo-link {
    margin-right: 525px;
  }
  .header-button {
    height: 24px;
  }
  .headerbutton-icon {
    height: 24px;
    width: 24px;
  }
}
