.header {
  height: 50px;
  /* background-color: var(--white-color); */
  box-sizing: border-box;
  background-color: gray;
  padding: 13px 0;
  padding: 13px 0;
  align-items: center;
}
.mobile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerlogo-link {
  display: flex;
  gap: 8px;
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 700;
  line-height: 1.28;
  align-items: center;
  color: #141414;
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}
.header-link {
  /* color: #141414;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px; */
}
.headerlogo-icon {
  fill: var(--logo-color);
}
.menu-toggle.js-open-menu,
.menu-toggle.js-close-menu {
  fill: var(--logo-color);
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
}
.menu-toggle.js-close-menu {
  stroke: var(--logo-color);
  z-index: 500;
  transition: fill 250ms linear;
  align-items: center;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-green-color);
  transition: transform 250ms linear;
  transform: translateX(100%);
}
.mobile-wrapper .header-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.mobile-wrapper .mobile-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 124px;
}
.header-button {
  background-color: transparent;
  border: none;
}
.mobile-wrapper .headerbutton-icon {
  fill: transparent;
  stroke: var(--white-color);
}
.mobile-wrapper .header-link {
  color: var(--white-color);
}
.header .header-list {
  display: flex;
  gap: 14px;
}
.header-wrapper .nav {
  display: flex;
  gap: 86px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.header-wrapper .headerbutton-icon {
  stroke: var(--text-color);
  fill: transparent;
}
.nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header .header-list,
  .header .header-button {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-toggle.js-open-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .headerlogo-link {
    margin-right: 250px;
  }
}
