.manual-container {
  padding: 40px 20px 0 20px;
  background-color: #c0c0c0;
}
.manual-subtitle {
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.manual-list {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 20px;
}
.manual-item {
}
.manual-text {
}
.manual-image {
}
