.manual-container.container {
}
.manual-container {
  padding-left: 20px;
}
.manual-relative {
  position: relative;
  padding-top: 40px;
  padding-left: 20px;
  border-radius: 40px;
  overflow: hidden;
}
.bg-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #faf3e7;
  background-image: radial-gradient(
    circle at 6px 25px,
    rgba(161, 196, 135, 0.3) 2.5px,
    transparent 0
  );
  background-size: 45px 45px;
  z-index: -2;
}
.manual-subtitle {
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  margin-bottom: 40px;
  max-width: 304px;
}

.manual-list {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 20px;
  counter-reset: manual-item;
}
.manual-item {
  display: flex;
  align-items: center;
}
.manual-item::before {
  counter-increment: manual-item;
  content: counter(manual-item);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-green-color);
  width: 40px;
  height: 38px;
  border-radius: 50%;
}
.manual-text {
  padding-left: 14px;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.56px;
  max-width: 190px;
}
.manual-image {
}
.manual-image img {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .manual-container.container {
    border-radius: 80px;
    /* position: relative; */
  }
  .manual-container {
    padding-left: 0px;
  }
  .manual-image img {
    /* position: absolute;
    bottom: 0;
    left: 0; */
  }
  .bg-wrap {
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    gap: 40px;
  }
  .manual-relative {
    padding-left: 0;
    border-radius: 80px;
  }
  .manual-wrap {
    padding-top: 40px;
    margin-bottom: 80px;
    margin-right: 0;
  }
  .manual-subtitle {
    max-width: 274px;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
  }
  .manual-list {
    gap: 24px;
    margin-bottom: 0;
  }
  .manual-item::before {
    width: 46px;
    height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .manual-container.container {
  }

  .bg-wrap {
    /* gap: 110px; */
    justify-content: space-between;
  }
  .manual-image img {
    margin-left: 80px;
  }
  .manual-wrap {
    padding-right: 40px;
  }
  .manual-subtitle {
    max-width: 512px;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
  }
  .manual-list {
    gap: 28px;
    margin-bottom: 0;
  }
  .manual-text {
    max-width: 298px;
  }
  .manual-text.second {
    max-width: 168px;
  }
}
