.picture {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.1);
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 20px;
  width: calc(100% - 2 * 15px);
  max-width: 335px;
  max-height: 903px;
  height: 100vh;
  margin: auto;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 8.775463104248047px 0px rgba(0, 0, 0, 0.01),
    0px 0px 18.17037010192871px 0px rgba(0, 0, 0, 0.02),
    0px 0px 36.23749923706055px 0px rgba(0, 0, 0, 0.03),
    0px 0px 71.02963256835938px 0px rgba(0, 0, 0, 0.03),
    0px 0px 130.5995330810547px 0px rgba(0, 0, 0, 0.04),
    0px 0px 223px 0px rgba(0, 0, 0, 0.05);
  transition: transform var(--transition-effect);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  margin-bottom: 40px;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #141414;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;

  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
}

.modal-close-icon {
  width: 16px;
  height: 16px;
  stroke: #000000;
}

.modal-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}

.modal-card-item {
  position: relative;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(250, 243, 231, 1);
  height: 119px;
}

.mod-tumb {
  width: 94px;
  height: 78px;
  position: absolute;
  right: 30px;
  bottom: 8px;
}

.modal-check {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 16px;
  height: 16px;
}
.modal-subtitle {
  color: #141414;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.72px;
}

.modal-img {
}

.text {
}
.picture {
}

.modal-form-box {
  width: 100%;
}

.modal-form {
  width: 100%;
}
.modal-input {
  display: block;
  width: 100%;
  padding: 14px 24px;
  border-radius: 100px;
  margin-bottom: 14px;
  border: 1px solid rgba(20, 20, 20, 0.3);
}
.textarea {
  height: 132px;
  border-radius: 20px;
  margin-bottom: 20px;
  resize: none;
}

.modal-input::placeholder {
  color: rgba(20, 20, 20, 0.5);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
}

.modal-btn-send {
  min-width: 92px;
  padding: 12px 24px;
  border-radius: 100px;
  border: none;
  background: #fc8a11;

  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: capitalize;
}

@media screen and (max-width: 375px) {
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .modal-box {
    max-width: 704px;
    min-height: 853px;
    padding: 40px;
    background-image: url(../img/modal/mod-girl.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modal-box {
      background-image: url('./img/modal/mod-girl@2x.jpg');
    }
  }

  .modal-cards {
    flex-direction: row;
  }

  .modal-card-item {
    position: relative;
    width: 200px;
    height: 250px;

    padding: 40px 20px 14px;
  }

  .mod-tumb {
    width: 172px;
    height: 142px;
  }

  .modal-form {
    width: 360px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-box {
    max-width: 891px;
    min-height: 911px;
  }

  .modal-cards {
    flex-direction: row;
  }

  .modal-card-item {
    width: 257px;
    height: 308px;
  }

  .mod-tumb {
    width: 243px;
    height: 200px;
  }

  .modal-form {
    width: 360px;
  }
}
