.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* body:has([data-modal]) {
  position: fixed;

  height: 100vh;
  overflow-y: hidden;
  margin: auto;
} */

.backdrop {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.2);
  transition: opacity var(--transition), visibility var(--transition);
  overflow: scroll;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 20px;
  width: calc(100% - 2 * 15px);
  max-width: 335px;
  margin: 0 auto;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 8.775px 0px rgba(0, 0, 0, 0.01),
    0px 0px 18.17px 0px rgba(0, 0, 0, 0.02),
    0px 0px 36.2px 0px rgba(0, 0, 0, 0.03),
    0px 0px 71.02px 0px rgba(0, 0, 0, 0.03),
    0px 0px 130.6px 0px rgba(0, 0, 0, 0.04),
    0px 0px 223px 0px rgba(0, 0, 0, 0.05);
  transition: transform var(--transition);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--text-color);
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 22px;
  right: 20px;
  padding: 0;

  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
}

.modal-close-icon {
  width: 24px;
  height: 24px;
  stroke: #000000;
}

/* CARDS  CARDS  CARDS */

.modal-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}

.modal-card-item {
  position: relative;
  padding-top: 20px;
  border-radius: 20px;
  background-color: rgba(250, 243, 231, 1);
  min-height: 119px;
  transition: border-color var(--transition), transform var(--transition),
    box-shadow var(--transition);
}

.modal-card-item:has(.check-input:focus),
.modal-card-item:hover {
  border-color: var(--dark-green-color);
  transform: translate(-1.5px, -1.5px);
  box-shadow: 1px 1px 5px rgba(49, 81, 65, 0.4);
}

.modal-subtitle {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.04em;
  margin-bottom: 2px;
}

.text,
.modal-subtitle {
  padding-left: 20px;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.mod-tumb .modal-img {
  width: 100%;
  object-fit: cover;
}

.picture {
}

/* checkbox */
.modal-check {
  position: absolute;
  top: 14px;
  right: 14px;
}

.check-label {
}

.check-input {
}

.check-span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 4px;
  fill: transparent;
  border: 1.5px solid var(--dark-green-color);
  transition: border-color var(--transition), transform var(--transition),
    box-shadow var(--transition);
}

.check-input:checked + .check-span {
  fill: var(--dark-green-color);
}

.check-label:hover .check-span,
.check-label:focus .check-span,
.modal-card-item:has(.check-input:focus) .check-span {
  border-color: var(--dark-green-color);
  transform: translate(-1px, -1px);
  box-shadow: 1px 1px 5px rgba(49, 81, 65, 0.4);
}

.modal-card-item:has(.check-input:focus),
.modal-card-item:hover {
  border-color: var(--dark-green-color);
  transform: translate(-1.5px, -1.5px);
  box-shadow: 1px 1px 5px rgba(49, 81, 65, 0.4);
}

.check-icon {
  width: 6px;
  height: 6px;
}

/* кінець чекбокса */

/* FORM FORM FORM */

.modal-form-box {
  width: 100%;
}

.modal-form {
  width: 100%;
}
.modal-input {
  display: block;
  width: 100%;
  padding: 14px 24px;
  border-radius: 100px;
  margin-bottom: 14px;
  outline: transparent;
  border: 1px solid rgba(20, 20, 20, 0.3);
  transition: border-color var(--transition);
}

.modal-input:focus,
.modal-input:hover {
  border-color: var(--orange-color);
}

.textarea {
  height: 132px;
  border-radius: 20px;
  margin-bottom: 20px;
  resize: none;
}

.modal-input::placeholder {
  color: rgba(20, 20, 20, 0.5);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
}

/* Прибирає личильник з інпута "намбер": */
/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
/* input[type='number'] {
  -moz-appearance: textfield;
} */

.modal-btn-send {
  min-width: 92px;
  padding: 12px 24px;
  border-radius: 100px;
  border: none;
  background-color: var(--orange-color);
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: capitalize;

  transition: background-color var(--transition);
}

.modal-btn-send:is(:hover, :focus) {
  background-color: #a1c487;
}

/* MEDIA MEDIA MEDIA MEDIA MEDIA */
/* MEDIA MEDIA MEDIA MEDIA MEDIA */
/* MEDIA MEDIA MEDIA MEDIA MEDIA */

@media screen and (min-width: 375px) {
}

@media screen and (max-width: 767px) {
  .mod-tumb {
    width: 94px;
    height: 78px;
    position: absolute;
    right: 30px;
    bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .modal-box {
    max-width: 704px;
    padding: 40px;
    background-image: url(../img/modal/mod-girl-tabl.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modal-box {
      background-image: url('./img/modal/mod-girl-tabl@2x.jpg');
    }
  }

  .modal-close-btn {
    width: 28px;
    height: 28px;
  }

  .modal-close-icon {
    width: 28px;
    height: 28px;
  }

  .modal-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  }

  .modal-cards {
    flex-direction: row;
  }

  .modal-card-item {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 200px;
    height: 250px;
    padding-top: 40px;
    padding-bottom: 14px;
  }

  .check-span {
    width: 20px;
    height: 20px;
  }

  .check-icon {
    width: 8px;
    height: 8px;
  }

  .mod-tumb {
    width: 172px;
    height: 142px;
    margin: auto;
  }

  .modal-form {
    width: 360px;
  }

  .modal-btn-send {
    min-width: 114px;
    padding: 15px 35px;
    border-radius: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-box {
    max-width: 891px;
    background-image: url(../img/modal/mod-girl-desk.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modal-box {
      background-image: url('./img/modal/mod-girl-desk@2x.jpg');
    }
  }

  .modal-cards {
    gap: 20px;
  }

  .modal-card-item {
    width: 257px;
    height: 308px;
  }

  .mod-tumb {
    width: 243px;
    height: 200px;
  }

  .modal-subtitle {
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 8px;
  }

  .modal-form {
    width: 360px;
  }
}
