.picture {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.2);
  overflow: auto;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 20px;
  width: calc(100% - 2 * 15px);
  max-width: 335px;
  min-height: 903px;
  margin: auto;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 8.775px 0px rgba(0, 0, 0, 0.01),
    0px 0px 18.17px 0px rgba(0, 0, 0, 0.02),
    0px 0px 36.2px 0px rgba(0, 0, 0, 0.03),
    0px 0px 71.02px 0px rgba(0, 0, 0, 0.03),
    0px 0px 130.6px 0px rgba(0, 0, 0, 0.04),
    0px 0px 223px 0px rgba(0, 0, 0, 0.05);
  transition: transform var(--transition-effect);
  /* overflow: auto; */
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--text-color);
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;

  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  /* outline: 1px dashed #fc8a11; */
}

.modal-close-btn:hover,
.modal-close-btn:focus {
}

.modal-close-icon {
  width: 24px;
  height: 24px;
  stroke: #000000;
}

/* CARDS  CARDS  CARDS */

.modal-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}

.modal-card-item {
  position: relative;
  padding-top: 20px;
  border-radius: 20px;
  background-color: rgba(250, 243, 231, 1);
  min-height: 119px;
  /* outline: 1px dashed #fc3411; */
}

.modal-subtitle {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.04em;
}

.text,
.modal-subtitle {
  padding-left: 20px;
}

.text {
  margin-bottom: 10px;
}

.mod-tumb .modal-img {
  width: 100%;
  object-fit: cover;
  /* outline: 1px dashed #0328cc; */
}

.picture {
}

/* checkbox */
.modal-check {
  position: absolute;
  top: 14px;
  right: 14px;
}

.check-label {
}

.check-input {
}

.check-span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  fill: transparent;
  border: 1.5px solid var(--dark-green-color);
  transition: background-color var(--transition-effect),
    border var(--transition-effect), fill var(--transition-effect);
}

.check-input:checked + .check-label .check-span {
  fill: var(--dark-green-color);
}

.check-icon {
}

/* кінець чекбокса */

/* FORM FORM FORM */

.modal-form-box {
  width: 100%;
}

.modal-form {
  width: 100%;
}
.modal-input {
  display: block;
  width: 100%;
  padding: 14px 24px;
  border-radius: 100px;
  margin-bottom: 14px;
  outline: transparent;
  border: 1px solid rgba(20, 20, 20, 0.3);
  transition: border-color var(--transition);
}

.modal-input:focus,
.textarea:focus {
  border-color: var(--orange-color);
}

.textarea {
  height: 132px;
  border-radius: 20px;
  margin-bottom: 20px;
  resize: none;
  transition: border-color var(--transition);
}

.modal-input::placeholder {
  color: rgba(20, 20, 20, 0.5);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
}

.modal-btn-send {
  min-width: 92px;
  padding: 12px 24px;
  border-radius: 100px;
  border: none;
  background-color: var(--orange-color);
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: capitalize;

  transition: background-color var(--transition);
}

.modal-btn-send:is(:hover, :focus) {
  background-color: #a1c487;
}

/* MEDIA MEDIA MEDIA */

@media screen and (min-width: 375px) {
}

@media screen and (max-width: 767px) {
  .mod-tumb {
    width: 94px;
    height: 78px;
    position: absolute;
    right: 30px;
    bottom: 8px;

    /* outline: 1px dashed #02570c; */
  }
}

@media screen and (min-width: 768px) {
  .modal-box {
    max-width: 704px;
    padding: 40px;
    background-image: url(../img/modal/mod-girl-tabl.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modal-box {
      background-image: url('./img/modal/mod-girl-tabl@2x.jpg');
    }
  }

  .modal-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  }

  .modal-cards {
    flex-direction: row;
  }

  .modal-card-item {
    position: relative;
    width: 200px;
    height: 250px;
    padding-top: 40px;
  }

  .mod-tumb {
    width: 172px;
    height: 142px;
    margin: auto;
  }

  .modal-form {
    width: 360px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-box {
    max-width: 891px;
    background-image: url(../img/modal/mod-girl-desk.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modal-box {
      background-image: url('./img/modal/mod-girl-desk@2x.jpg');
    }
  }

  .modal-cards {
    flex-direction: row;
  }

  .modal-card-item {
    width: 257px;
    height: 308px;
  }

  .mod-tumb {
    width: 243px;
    height: 200px;
  }

  .modal-subtitle {
    font-size: 24px;
    line-height: 1.67;
  }

  .modal-form {
    width: 360px;
  }
}
